/*
1em = 16px

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden; }
  .heading-primary__main {
    font-family: 'Titan One', Helvetica, Arial, serif;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: .5rem;
    line-height: 1.1;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary__main {
        letter-spacing: 0;
        font-size: 5rem; } }
  .heading-primary__sub {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary__sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  color: #6c80f6;
  letter-spacing: 2px;
  transition: all .2s ease-in-out; }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .heading-secondary {
      background-image: linear-gradient(to right, #94f1fd, #6c80f6);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary_solid {
    color: #6c80f6; }
  .heading-secondary:hover {
    transform: scale(1.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-flexbox-center {
  display: flex;
  align-items: center;
  flex-flow: column wrap; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button_white {
  background-color: #fff;
  color: #6c80f6; }
  .button_white::after {
    background-color: #fff; }

.button_sky {
  background-color: #6c80f6;
  color: #fff; }
  .button_sky::after {
    background-color: #6c80f6; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.button_animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.button_tour-1 {
  color: #ffa801; }

.button_tour-2 {
  color: #05c46b; }

.button_tour-3 {
  color: #6c80f6; }

.button-text:link, .button-text:visited {
  font-size: 1.6rem;
  color: #6c80f6;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #6c80f6;
  padding: 3px;
  transition: all .2s; }

.button-text:hover {
  background-color: #6c80f6;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 100rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side_front {
      background-color: #fff; }
    .card__side_back {
      color: #fff;
      transform: rotateY(180deg);
      display: flex; }
      .card__side_back_1 {
        background-image: linear-gradient(to right bottom, #ffdd59, #ffa801); }
      .card__side_back_2 {
        background-image: linear-gradient(to right bottom, #0be881, #05c46b); }
      .card__side_back_3 {
        background-image: linear-gradient(to right bottom, #94f1fd, #6c80f6); }
  .card:hover .card__side_front {
    transform: rotateY(-180deg); }
  .card:hover .card__side_back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture_1 {
      background-image: url("../img/card_1.jpg"), linear-gradient(to right bottom, #ffdd59, #ffa801); }
    .card__picture_2 {
      background-image: url("../img/card_2.jpg"), linear-gradient(to right bottom, #0be881, #05c46b); }
    .card__picture_3 {
      background-image: url("../img/card_3.jpg"), linear-gradient(to right bottom, #94f1fd, #6c80f6); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12.5rem;
    right: 2rem;
    text-align: right;
    width: 60%; }
    @media (max-width: 75em) {
      .card__heading {
        width: 80%; } }
    @media (max-width: 56.25em) {
      .card__heading {
        width: 100%;
        text-align: center;
        right: 0;
        top: 9rem; } }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span_1 {
      background-image: linear-gradient(to right bottom, rgba(255, 221, 89, 0.85), rgba(255, 168, 1, 0.85)); }
    .card__heading-span_2 {
      background-image: linear-gradient(to right bottom, rgba(11, 232, 129, 0.85), rgba(5, 196, 107, 0.85)); }
    .card__heading-span_3 {
      background-image: linear-gradient(to right bottom, rgba(148, 241, 253, 0.85), rgba(108, 128, 246, 0.85)); }
  .card__details {
    padding: 2rem; }
    .card__details ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    margin: auto;
    padding: 5rem 0; }
  .card__price-box {
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 300; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      margin: 0 auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        box-shadow: none;
        height: auto;
        width: 100%;
        position: relative; }
        .card__side_back {
          color: #fff;
          transform: rotateY(0);
          display: flex;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
          .card__side_back_1 {
            background-image: linear-gradient(to right bottom, #ffdd59, #ffa801); }
          .card__side_back_2 {
            background-image: linear-gradient(to right bottom, #0be881, #05c46b); }
          .card__side_back_3 {
            background-image: linear-gradient(to right bottom, #94f1fd, #6c80f6); }
      .card:hover .card__side_front {
        transform: rotateY(0); }
      .card__cta {
        margin: auto;
        line-height: 1.5;
        margin-top: 2rem; }
      .card__price-box {
        margin-bottom: 1rem; }
      .card__price-only {
        font-size: 1.7rem; }
      .card__price-value {
        font-size: 6rem;
        font-weight: 300;
        margin-bottom: 3rem; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }
  .feature-box__icon {
    font-size: 7rem;
    background-image: linear-gradient(to bottom, #94f1fd, #6c80f6);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 75em) {
      .feature-box__icon {
        font-size: 5rem; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .4s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #05c46b; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ffa801; }
  .form__input::-webkit-input-placeholder {
    color: #aaaaaa; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      display: block;
      width: 100%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }

.form__radio-label {
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #6c80f6;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form__radio-button::after {
    content: '';
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6c80f6;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked + label .form__radio-button::after {
  opacity: 1; }

.form button {
  outline: none;
  border: none; }

.image-composition {
  position: relative; }
  .image-composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    transition: all .2s ease-in-out;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .image-composition__photo {
        float: left;
        position: relative;
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .image-composition__photo:hover {
      outline: 1.5rem solid #94f1fd;
      transform: scale(1.05) translateY(5px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
    .image-composition__photo_p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .image-composition__photo_p1 {
          top: 0;
          left: 2rem;
          transform: scale(1.2); } }
    .image-composition__photo_p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .image-composition__photo_p2 {
          top: -2rem;
          transform: scale(1.3); } }
    .image-composition__photo_p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .image-composition__photo_p3 {
          top: 1rem;
          left: -1rem;
          transform: scale(1.1); } }
  .image-composition:hover .image-composition__photo:not(:hover) {
    transform: scale(0.9); }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1); }
  .popup__close {
    display: inline-block; }
    .popup__close:link, .popup__close:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      line-height: 1;
      color: currentColor;
      text-decoration: none;
      font-size: 3rem;
      transition: all .3s; }
    .popup__close:hover {
      color: #6c80f6; }
  .popup__content {
    position: relative;
    margin: auto;
    width: 75%;
    height: 50rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.25);
    transition: all .5s .2s; }
  .popup__main {
    padding: 3rem 5rem;
    display: table-cell;
    width: 66.66666666667%;
    vertical-align: middle; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #dedede;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup__side {
    display: table-cell;
    width: 33.333333%;
    vertical-align: top; }
  .popup__image {
    display: block;
    width: 100%; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      transform: skewX(0); }
      .story > * {
        transform: skewX(0); } }
  @media (max-width: 37.5em) {
    .story {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 5rem; } }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    display: inline-block;
    overflow: hidden;
    transform: translateX(-3rem) skewX(12deg);
    border-radius: 50%;
    position: relative; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media (max-width: 56.25em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
    @media (max-width: 37.5em) {
      .story__shape {
        float: none;
        transform: translateX(0);
        margin-bottom: 3rem; } }
  .story__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    transition: all .5s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(2px) brightness(70%); }

.footer {
  background-color: #f7f7f7;
  padding: 10rem 0; }
  @media (max-width: 75em) {
    .footer {
      padding: 6rem 0; } }
  .footer__bottom {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 75em) {
      .footer__bottom {
        flex-direction: column;
        align-items: center; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 6rem; }
  .footer__navigation {
    border-top: 1px solid #dedede;
    padding-top: 1.5rem;
    list-style-type: none;
    text-transform: uppercase; }
    @media (max-width: 75em) {
      .footer__navigation {
        margin-bottom: 3rem; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: all .2s;
    backface-visibility: hidden; }
  .footer__link:hover, .footer__linkactive {
    color: #6c80f6;
    transform: translateY(-4px); }
  .footer__copyright {
    border-top: 1px solid #dedede;
    padding-top: 1.5rem; }
  .footer__heart {
    display: inline-block;
    padding: 0 .2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .row {
      padding: 0 2rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  position: relative;
  height: 85vh;
  background-image: linear-gradient(rgba(148, 241, 253, 0.8), rgba(108, 128, 246, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: center;
  display: flex; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      height: 95vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); } }
  @media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2), (min-width: 125em) {
    .header {
      background-image: linear-gradient(rgba(148, 241, 253, 0.8), rgba(108, 128, 246, 0.8)), url("../img/hero.jpg"); } }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    width: 4rem; }
  .header__text-box {
    margin: auto;
    text-align: center; }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.navigation__icon {
  margin: auto;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #6c80f6; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient(#94f1fd, #6c80f6);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: flex;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  margin: auto;
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  display: inline-block; }
  .navigation__link span {
    margin-right: 1.5rem; }
  .navigation__link:link, .navigation__link:visited {
    padding: 1rem 2rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    color: #6c80f6;
    background-position: 100%;
    transform: translateX(1rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 23rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 27rem 0;
      padding-top: 23rem; } }

.section-features {
  padding: 25rem 0;
  margin-top: -13rem;
  background-image: linear-gradient(rgba(148, 241, 253, 0.8), rgba(108, 128, 246, 0.8)), url("../img/features-background.jpg");
  background-size: cover;
  transform: skewY(-8deg); }
  .section-features > * {
    transform: skewY(8deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 12rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 17rem 0;
  margin-top: -8rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 18rem 0 10rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #94f1fd, #6c80f6); }
  @media (max-width: 56.25em) {
    .section-booking {
      padding: 10rem 0; } }

.booking-box {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../img/booking-image.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; }
  @media (max-width: 75em) {
    .booking-box {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 60%, transparent 60%), url("../img/booking-image.jpg"); } }
  @media (max-width: 56.25em) {
    .booking-box {
      background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/booking-image.jpg"); } }
  .booking-box__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .booking-box__form {
        width: 60%;
        padding: 4rem 3.5rem; } }
    @media (max-width: 56.25em) {
      .booking-box__form {
        width: 100%; } }
