//COLORS
$sand: #f8d1a5;
$water: #94f1fd;
$sky: #6c80f6;
$grass: #0be881;
$color-text-primary: #777;
$color-white: #fff;
$color-black: #000;

//SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;