//COLORS
$sand: #ffdd59;
$sun: #ffa801;

$water: #94f1fd;
$sky: #6c80f6;

$mint: #0be881;
$grass: #05c46b;
$subtle-grey: #f7f7f7;
$less-subtle-grey: darken($subtle-grey, 10%);
$color-text-primary: #777;
$color-text-primary-light: lighten($color-text-primary, 20%);
$color-white: #fff;
$color-black: #000;

//SIZES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;