.header {
    position: relative;
    height: 85vh;
    background-image: linear-gradient(
        rgba($water, 0.8),
        rgba($sky, 0.8)),
        url('../img/hero-small.jpg');
    background-size: cover;
    background-position: center;
    

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        height: 95vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    }

    @media (min-resolution: 192dpi),
           (-webkit-min-device-pixel-ratio: 2),
           (min-width: 125em) {
        background-image: linear-gradient(
                          rgba($water, 0.8),
                          rgba($sky, 0.8)),
                          url('../img/hero.jpg');
    }


    @include media(tablet-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }
    
    display: flex;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        width: 4rem;
    }


    &__text-box  {
        margin: auto;
        text-align: center;
    }
}