.button {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 10rem;
        cursor: pointer;
        padding: 2rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
    }

    &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .1);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .1);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &_white {
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }

    &_primary  {
        color: $sand;
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;
    }
}