.button {
    &:link,
    &:visited {
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
    }

    &_white {
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }

    &_primary  {
        color: $sand;
        text-transform: uppercase;
        border-radius: 10rem;
        padding: 2rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;

         &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black, .1);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black, .1);
        }
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }

    &_text {
        &:link,
        &:visited {
            color: $grass;
            border-bottom: 1px solid $grass;
            padding: 3px;
            transition: all .2s ease-in-out;
        }

        &:hover {
            background-color: $grass;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }
        
        &:active {
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            transform: translateY(0);
        }
    }
}