main {
    background-color: $subtle-grey;
}

.section-about {
    padding: 30rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    margin-top: -13rem;
    background-image: linear-gradient(
        rgba($water, 0.8),
        rgba($sky, 0.8)),
    url('../img/features-background.jpg');
    background-size: cover;
    transform: skewY(-8deg);
    >* {
        transform: skewY(8deg);
    }
}

.section-tours {
    padding: 20rem 0;
}

.section-stories {
    padding: 15rem 0;
    background-color: aqua;
}