main {
    background-color: $background-grey;
}

.section-about {
    padding: 30rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    margin-top: -13rem;
    background-image: linear-gradient(
        rgba($water, 0.8),
        rgba($sand, 0.8)),
    url('../img/beach-steps.jpg');
    background-size: cover;
    transform: skewY(-8deg);
    >* {
        transform: skewY(8deg);
    }
}